:root{
  --ThemeColor : #1db954;
  --LightColor: rgba(25,20,20,.65);
  --DarkColor: rgba(25,20,20,.6);
  --TextColor : #ffffff;

  --MenuPadding : 20px;
}


*{
  box-sizing: border-box;
  color: var(--TextColor);
  font-family: 'Josefin Sans', sans-serif;  
  scrollbar-width: auto;
  scrollbar-color: var(--ThemeColor) #ffffff;
}
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(0,0,0,.1);
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--ThemeColor);
    border-radius: 10px;
  }

a{
  text-decoration: none;
}

.HeaderRight{
  max-width: 80px;
  min-width: 80px;
  background-color: var(--DarkColor);
}


#Show{
  visibility: visible;
}

#Hide{
  visibility: hidden;
}

html, body, #__next{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next{
  display: flex;
  background-color: rgba(0,0,0,.0);
}

.BlobSection{
  width: 100%;
  height: 100%;
}

.Blob1{  
  --width : 400px;
  --time: 20s;
  --amount : 5; 
  --fill  : #2d5c2c;
  width : var(--width);
  filter: blur(200px);  
  left: calc(50% - (var(--width) / 2));
  top: calc(50% - (var(--width) / 2));
}

.Blob2{
  --width : 1000px;
  --time: 30s;
  --amount : 5; 
  --fill  : var(--ThemeColor);
  width : var(--width);
  filter: blur(500px);  
  left: calc(55% - (var(--width) / 2));
  top: calc(55% - (var(--width) / 2));
}

.Blob3{
  --width : 800px;
  --time: 30s;
  --amount : 5; 
  --fill  : red;
  width : var(--width);
  filter: blur(800px);  
  left: calc(50% - (var(--width) / 2));
  top: calc(50% - (var(--width) / 2));
}

.DynamicWallpaper{
  width: 100%;
  background: black;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.AnimatedPlay{
    width: 50px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;
}

.AnimatedPlay div:nth-child(n){
  margin: 0 1px;
  width: 5px;
  background-color: var(--ThemeColor);
  margin-bottom: 25%;
  transform-origin: bottom;
  height: 6px;
}

.AnimatedPlay div:nth-child(1){  
  animation: Music .5s ease-in-out alternate infinite;
}
.AnimatedPlay div:nth-child(2){
  animation: Music .9s ease-in-out alternate infinite;
}
.AnimatedPlay div:nth-child(3){
  animation: Music 0.6s ease-in-out alternate infinite;
}

@keyframes Music {
    0% {transform: scaleY(3);}
    100% {transform: scaleY(1);}
}

/* LAYOUT */

.HeaderRight{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.LayoutContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.LayoutImage {
  width: 48px;
  aspect-ratio: 1 / 1;
  background: none;
  border-radius: 100px;
  margin-bottom: 6px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.LayoutTitle{
  margin: 0;
  font-size: .8rem;
  font-weight: 200;
}

/* SUBPAGE*/
.Formation{
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  width: calc(100% - 80px);
  height: 100%;
}

.Menu{
  max-width: 250px;
  min-width: 200px;
  width: 100%;
  background-color: var(--LightColor);
  height: 100%;
  padding: 20px;
}

.Menu h2{
  font-size: 1rem;
}

.Menu h1{
  font-size: 1.5rem;
}

.MenuChapterContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
}

.MenuChapter{
  margin-bottom: 10px;
  margin-left: calc(-1 * var(--MenuPadding));
  position: relative;
  /* background-color: var(--DarkColor); */
  width: calc(100% + (var(--MenuPadding) * 2));
  padding-left: 15px;
  font-size: 1rem;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MenuChapter svg{
  margin-right: 10px;
}

.HoverMarkerOld{
  transition: .4s ease;
  width: 6px;
  transform: translateX(-30px);
  /* position: absolute;
  left: 0;
  top: 0; */
  height: 70%;
  background: var(--ThemeColor);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.HoverMarker {
  transition: .4s ease;
  width: 25px;
  transform: translateX(-50px);
  height: 60%;
  background: #03ff5c;
  border-radius: 100px;
  filter: blur(7px);
}

.MenuChapter:hover .HoverMarker, .MenuChapter.Active .HoverMarker{
  transform: translateX(-30px);  
  animation: Glow 4s ease-in-out infinite forwards;
}

@keyframes Glow {
  0%{
    filter: blur(7px);
    transform: translateX(-30px);
  }
  50%{
    filter: blur(9px);
    transform: translateX(-35px);
  }
  100%{
    filter: blur(7px);
    transform: translateX(-30px);
  }
  
}

.MenuChapter.Active .CloseBook{ display: none; }
.MenuChapter:not(.Active) .OpenBook{ display: none; }
/*On Hover*/
/* .MenuChapter:hover .OpenBook { display: block; }
.MenuChapter:hover .CloseBook{ display: none; } */


.Content{
  width: 100%;
  min-width: 300px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--DarkColor);
}

.Content h1{
  padding-left: 20px;
}

.ListVideoWrapper{
  overflow-y: scroll;
  height: 100%;
}

.ListVideoContainer{
  width: 100%;
  margin-bottom: 50px;
}

.ListVideoContainer h2{
  padding-left: 20px;
  font-size: 1rem;  
  font-weight: 500;
}

.ListVideoContainer h2 span{
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  color: rgba(255,255,255, .6);
}



.PlayerContainer{
  width: 100%;
  padding: 20px;
  /* position: sticky;
  top: 0; */
  /* background: linear-gradient(180deg, var(--DarkColor) 0%, var(--DarkColor) 97%, rgba(0,0,0,0) 100%); */
  margin: auto;
  text-align: center;
  z-index: 999;
}

.MainPlayer{
  border-radius: 12px;
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 900px;
}


/* ListVideo Component */
.ListVideo{
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  transition: .4s;
  background: linear-gradient(90deg, rgba(0,0,0,0) 20%, rgba(30,28,29,0) 60%, rgba(52,48,49,0) 100%);
  background-position: 0px;
  font-weight: 500;
  /* border-bottom: 2px solid #433a3b; */
}

.ListVideo:hover, .ListVideo.Active{
  background-position: 0px;
  background: linear-gradient(90deg, rgba(0,0,0,0) 20%, rgba(0,0,0,.2) 60%, rgba(0,0,0,.3) 100%);
}


.ListVideo .PlayerVideoContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.ListVideo:after{
  content: "";
  background: linear-gradient(90deg, rgba(67, 58, 59, 0) 20%, rgba(67, 58, 59, .8) 90%, rgba(67, 58, 59, 1) 100%);
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 100%;
}

.PlayerVideoContainer .PlayerVideo{
  font-size: 3rem;
  border-radius: 100px;
  cursor: pointer;
  padding: 10px;
}

.ListVideo .TitleVideo{
  flex: 50%;
  text-transform: capitalize;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 500;
}

.ListVideo .PosterVideo{
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px;
  min-width: 40px;
  max-width: 50px;
}

.ListVideo .PosterVideo img{
 width: 100%;
}

.ListVideo .ChapterVideo{
  flex: 20%;
  text-transform: capitalize;
}

.ListVideo .DurationVideo{
  flex: 20%;
  display: flex;
  align-items: center;
  margin-left: 10px;
  max-width: 100px;
}

.ListVideo .DurationVideo .ClockVideo{
  margin-right: 5px;
  margin-top: -2px;
}